{% block content %}
  {% load static %}

  <style>
    body {
      margin: 0; /* Add margin for better spacing */
      font-family: Arial, sans-serif; /* Change the font if needed */
    }

    table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 20px;
    }

    th, td {
      padding: 12px; /* Increase padding for better spacing */
      text-align: left;
    }

    th {
      background-color: #f2f2f2;
    }

    hr {
      border: 1px solid #ddd; /* Add a border above and below the table */
      margin-top: 20px;
      margin-bottom: 20px;
    }

    h1 {
      text-align: center;
    }

    .logo {
      text-align: center;
    }

    .logo img {
      max-width: 200px; /* Adjust the maximum width of the logo */
      max-height: 100px; /* Adjust the maximum height of the logo */
    }
  </style>

  <hr>

  <h1>Senior List Summary Report</h1>

  <div class="logo">
    <img src="{% static 'image/senior_care_logo.png' %}" alt="senior care logo">
  </div>

  <table>
    <thead>
      <tr>
        <th>OSCA_ID</th>
        <th>Last Name</th>
        <th>First Name</th>
        <th>Middle Initial</th>
        <th>Suffix</th>   
        <th>Status</th>
      </tr>
    </thead>

    <tbody>
      {% for senior in seniors %}
      <tr>
        <td>{{ senior.OSCA_ID }}</td>
        <td>{{ senior.last_name }}</td>
        <td>{{ senior.first_name }}</td>
        <td>{{ senior.middle_name }}</td>
        <td>{{ senior.suffix }}</td>
        <td>
          {% if senior.is_claimed %}
            Claimed
          {% else %}
            Unclaimed
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>  

  <hr>

{% endblock %}
