

.claim-body{

  display: block;
  margin: 2% 5% 4% 5%;
  background: #7895CB;
  font-family: "Inter", Helvetica;
}

.container {
  display: flex;
  justify-content: space-between;
}


.right {
  order: 2;
  font-size: 40px;
  color: white;
  margin-top: 1px;
}

.search-bar {
  position: relative;
  width: 300px;
}

.search-bar input {
  width:180%;
  padding-left: 70px; 
  height: 50px;
  background-color: white;
  border-radius: 30px;
  color: black;
  border: none;
  font-size: 25px;
  outline: none;
}

.search-bar i {
  position: absolute;
  top: 10px;
  left: 25px;
  font-size: 28px;
  background: transparent;
}

.table-container {
  width: 100%; 
  height: 25rem; 
  overflow: auto;
  position: relative;
  border-radius: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  font-size: 20px;
  letter-spacing: .5px;

}

thead {
  position: sticky; 
  top: 0;
  z-index: 1;
}

th, td {
  padding: 15px;
  text-align: center;

}

th{
  background: #4A55A2;
  color: white;
  font-weight: 300;
}
tr:nth-child(odd) td{
  background-color: #A0BFE0;
}

tr:nth-child(even) td{
  background-color: #C5DFF8; 
}

.custom-checkbox{
  width: 34px;
  height: 26px;
  background-color: #4A55A2;
  position: relative;
  cursor: pointer;
}

.custom-checkbox::before {
  content: "\2713"; 
  font-size: 20px;
  font-weight: 700;
  padding: 1px 8px;
  color: transparent; 
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  border-radius: 5px;
}

.custom-checkbox:checked::before {
  color: white; 
  background-color: #21D01D;
}

.claim-btn{
  letter-spacing: .5px;
  font-weight: 500;
  font-size: 17px;
  color: black;
  text-decoration: none;
  background: #A0BFE0;
  border: .5px solid black;
  padding: 4px 15px;
  border-radius: 10px;
  box-shadow: 3px 4px 8px rgba(0, 0, 0, 0.4);
  transition: background-color 0.3s, box-shadow 0.3s;
}

.claim-btn:hover{
  background: #c5d5e7;
  color: #494a4e;
  border: 1px solid #444649;
  cursor: pointer;
  box-shadow: none;
}

.button-container{
  margin-top: 30px;
}


.button-container button{
  padding: 15px 50px;
  font-size: 22px;
  letter-spacing: 2px;
  font-weight: 700;
  border: 1px solid #A0BFE0;
  background-color: #A0BFE0;
  border-radius: 20px;
  box-shadow: 3px 5px 8px rgba(0, 0, 0, 0.4);
  transition: background-color 0.3s, box-shadow 0.3s;
}

.notify-btn{
  margin-right: 20px;
}

.button-container button i{
  background: transparent;
  padding-right: 15px;
  font-size: 22px;
}

.button-container button:hover{
  background: #c5d5e7;
  color: #494a4e;
  border: 1px solid #444649;
  cursor: pointer;
  box-shadow: none;
}


@media(max-width: 1100px){
  .search-bar {
      width: 230px;
  }

  .right {
      margin-top: 10px;
      font-size: 30px;
  }
}

@media(max-width: 900px){
  .search-bar {
      width: 200px;
  }
}

@media(max-width: 790px){
  .search-bar {
      width: 160px;
  }



}

@media(max-width: 700px){

  .container {
      position: relative;
  }
  
  .right {
      position: absolute;
      left: 10px;
      font-size: 20px;
      top: 0;
      right: 0;
  }
  
  
  .search-bar {
      display: flex;
      align-items: center;
      margin-top: 40px;
      margin-bottom: 20px;
      width: 390px;
  }

  .search-bar input{
      width: 100%;
      height: 40px;
      padding-left: 40px;
      font-size: 20px;
  }

  .search-bar i {
      top: 10px;
      left: 15px;
      font-size: 20px;
    }

  .button-container button{
      margin-top: -15px;
      padding: 10px 40px;
      font-size: 20px;
      letter-spacing: .5px;
      font-weight: 700;
  }
  
  .button-container button i{
      padding-right: 10px;
      font-size: 22px;
  }

  table {
      font-size: 15px;
  }    
 
  th, td {
      padding: 12px;
  }
}

@media(max-width: 415px){
  .button-container button{
      padding: 10px 35px;
      font-size: 18px;
  }
}

@media(max-width: 375px){

  .button-container{
      display: flex;
      align-items: center;
  }
  .button-container button{
      padding: 10px 35px;
  }

}

@media(max-width: 305px){

  .button-container{
      display: flex;
      flex-direction: column;
      align-items: center;
  }
  .button-container button{
      padding: 10px 90px;
      font-size: 15px;
  }

  .button-container button i{
      font-size: 15px;
      padding-right: 2px;
  }

  .notify-btn{
      margin-right: 0;
      margin-bottom: 30px;
  }

}


/*///////////////////////////////////////////////////*/
/*///////////////////////////////////CLAIMING DETAILS*/
/*///////////////////////////////////////////////////*/


.claim-detail-container{
  margin-top: 35px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  max-width: 64vw;
  width: 100%;
  background-color: #A0BFE0;
  padding: 25px 120px 50px 60px;
  border-radius: 25px;
  box-shadow: 5px 10px 8px rgba(0, 0, 0, 0.4);

}

.display-form, label{
  background-color: transparent;
}

.detail-column{
  background-color: transparent;
  display: flex;
  column-gap: 60px;
}

.detail-column1{
  background-color: transparent;
  display: flex;
  column-gap: 60px;
}

.detail-column2{
  background-color: transparent;
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.detail-column2 a{
  text-align: center;
}


.display-form{
  width: 100%;
  margin-top: 25px;
}

.display-form label{
  color: white;
  margin-left: 10px;
  font-size: 20px;
}

.display-form input{
  margin-top: 10px;
  width: 100%;
  padding: 15px 25px;
  border-radius: 20px;
  background-color: white;
  outline: none;
  border: none;
  font-size: 25px;
  box-shadow: 3px 4px 8px rgba(0, 0, 0, 0.4);
}

.detail-column2 a{
  position: relative;
  height: 45px;
  width: 200px;
  border-radius: 20px;
  border: 1px solid black;
  top: 28px;
  left: 50px;
  font-size: 25px;
  letter-spacing: .5px;
  background-color: #C5DFF8;
  font-weight: bolder;
  box-shadow: 3px 4px 8px rgba(0, 0, 0, 0.4);
  transition: background-color 0.3s, box-shadow 0.3s;
  color: black;
  text-decoration: none;
  padding: 15px 15% 0 15%;

}

.detail-column2 a i{
  font-weight: bolder;
  margin-left: 10px;
  background-color: transparent;
}

.detail-column2 a:hover{
  background: #c5d5e7;
  color: #494a4e;
  border: 1px solid #444649;
  cursor: pointer;
  box-shadow: none;
}

@media (max-width: 930px){

  .display-form{
  margin-top: 20px;
  }

  
.display-form label{
  color: white;
  font-size: 15px;
}

.display-form input{
  margin-top: 5px;
  width: 100%;
  padding: 15px 25px;
  font-size: 17px;

}

.detail-column2 a{
  height: 36px;
  font-size: 20px;
  top: 21px;

}

}

@media (max-width: 600px){
  .claim-detail-container{
      max-width: 60vw;
      width: 100%;
      padding: 25px 90px 50px 40px;
      border-radius: 25px;
  }
}

@media (max-width: 500px){
  .detail-column{
      flex-wrap: wrap;
  }

  .detail-column1{
      flex-wrap: wrap;
  } 

  .detail-column2{
      flex-wrap: wrap;

  }

  .detail-column2 a{
      height: 36px;
      width: 1000px;
      font-size: 20px;
      top: 30px;    
      left: 25px;
  }
}

@media (max-width: 375px){

  .claim-detail-container{
      max-width: 65vw;
      margin: 0;
      padding: 10px 90px 60px 40px;
      border-radius: 0;
  }

}

@media (max-width: 350px){

  .claim-detail-container{
      padding: 10px 0px 60px 20px;
      border-radius: 0;
  }

}



