/*Search Bar*/
.search {
  width: 100%;
  padding: 5%;
}

.search-bar {
  width: 100%;
  max-width: 325px;
  max-height: 25px;
  background: rgba(255, 255, 255);
  display: flex;
  align-items: center;
  border-radius: 60px;
  padding: 10px 20px;
}

.search-bar input{
  background: transparent;
  flex: 1;
  border: 0;
  outline: none;
  padding: 24px 20px;
  font-size: 20px;
  color: #444;
}

.search-bar button img{
  width: 20px;
}

.search-bar button {
  border: 0;
  border-radius: 50%;
  width: 80px;
  height: 30px;
  background: #ffffff;
  cursor: pointer;
}

::placeholder {
  color: #444;
}
/*Search Bar*/


/* Mobile phone (Search Bar)*/
@media(max-width: 600px) {
  .search {
      width: 50%;
      min-height: 100vh;
      padding: 5% 15%;
  }
  
  .search-bar {
      width: 100%;
      max-width: 300px;
      max-height: 20px;
      background: rgba(255, 255, 255);
      display: flex;
      align-items: center;
      border-radius: 60px;
      padding: 10px 20px;
  }
  
  .search-bar input{
      background: transparent;
      flex: 1;
      border: 0;
      outline: none;
      padding: 24px 20px;
      font-size: 16px;
      color: #444;
  }
  
  .search-bar button img{
      width: 20px;
  }
  
  .search-bar button {
      border: 0;
      border-radius: 50%;
      width: 80px;
      height: 35px;
      background: #ffffff;
      cursor: pointer;
  }
  
  ::placeholder {
      color: #444;
  }
}
/* Mobile phone (Search Bar)*/

/*Table*/
table {
  width: 400px;
  
}

.table-update th {
  text-align: left;
  align-items: center;
}

table, th, td {
  border: 2px solid #ffffff;
  border-collapse: collapse;
}
/*Table*/